*{
	padding: 0;
	margin: 0;
}
body{
	font-family:"Source Sans Pro","Quattrocento",Helvetica,STheiti,Î¢ÈíÑÅºÚ,ºÚÌå,Arial,Tahoma,sans-serif,serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 28px;
	color: #3A3A3A;
	background-color: #F5F5F5;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5 {
	font-family: 'Merriweather',Georgia,serif;
	font-weight: 700;
	padding: 0;
}
h2 {
	margin-bottom: 20px;
	margin-top: 45px;
	font-size: 28px;
	line-height: 35px;
}
h6 {
	padding: 0;
	text-align: center;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Merriweather',Georgia,serif;
	font-weight: 300;
}


a {
	text-decoration: none;
	outline: none;
}
.wrapper {
	margin: 0 auto;
	idth: 100%;
}
.clear {
	clear: both;
}
#header {
	height: auto;
	margin: 0 auto;
	text-align: center;
	padding: 80px 0 0;
}
#content {
overflow: hidden;
}
.container {
	width: 700px;
	margin: auto;
}
.logo-link{
	display: block;
	font-family: "Text Me One";
}
#slogan {
	color: #A0A0A0;
	margin: 10px 0 0;
}
.stripes .post, .stripes.search .page {
	padding: 20px 9999px;
	margin: 0 -9999px;
}
.post_inner {
	padding: 50px 0;
	position: relative;
	z-index: 3;
}
.additional-meta-wrap {
	height: 20px;
}
.additional-meta, .page-title, .navigation-index {
	border-color: #404040;
}
.additional-meta {
	font-family: 'Merriweather',Georgia,serif;
	font-size: 12px;
	border-bottom: 1px dotted #AEAEAE;
	line-height: 20px;
	height: 9px;
	position: relative;
	font-weight: 300;
}
.additional-meta:after {
	font-family: 'FontAwesome';
	position: absolute;
	right: -1px;
	top: -2px;
	font-size: 15px;
	line-height: 22px;
	padding-left: 5px;
	background-color: #F5F5F5;
}
.sticky .additional-meta .meta-date {
	padding-left: 25px;
	position: relative;
}
.additional-meta .meta-date {
background-color: #F5F5F5;
padding-right: 20px;
display: inline;
float: left;
}
.sticky .additional-meta .meta-date:before {
	font-family: 'FontAwesome';
	position: absolute;
	left: 0;
	top: -2px;
	content: "\f005";
}
#the_logo h1 a, .byline a, .entry-title a, .meta-date a, .meta-comments a, .page-title a {
	color: #3A3A3A;
	text-decoration: none;
	border-bottom: 1px dashed #F5F5F5;
	-webkit-transition: border-color .2s linear;
	-moz-transition: border-color .2s linear;
	-ms-transition: border-color .2s linear;
	-o-transition: border-color .2s linear;
	transition: border-color .2s linear;
}
.entry-title {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}
#the_logo h1 a, .byline a, .entry-title a, .meta-date a, .meta-comments a, .page-title a {
	color: #3A3A3A;
	text-decoration: none;
	border-bottom: 1px dashed #F5F5F5;
	-webkit-transition: border-color .2s linear;
	-moz-transition: border-color .2s linear;
	-ms-transition: border-color .2s linear;
	-o-transition: border-color .2s linear;
	transition: border-color .2s linear;
}
.post pre {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .4em;
}